body {
    background: rgb(57,109,193);
    background: linear-gradient(90deg, rgb(26, 48, 85) 0%, rgba(65,180,205,1) 100%);
}

.nav {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Caveat', cursive;
}

.profile-img {
    width: 350px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.profile-card {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 700px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    background-color: rgb(31, 36, 51);
}

.title {
    font-family: 'Caveat', cursive;
    color: #fff;
    display: flex;
    justify-content: center;
}