body {
    background: rgb(57,109,193);
    background: linear-gradient(90deg, rgb(26, 48, 85) 0%, rgba(65,180,205,1) 100%);
}

.nav {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Caveat', cursive;
}

.profile {
    width: 350px;
    border-radius: 175px;
}

.profile-img {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.title {
    font-family: 'Caveat', cursive;
    margin-top: 35px;
    color: #fff;
    display: flex;
    justify-content: center;
}